@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the joking community</h1>
    <p>Please contribute with whatever humor you have!</a>.</p>
</div>
